name: sockudo_client
description: A high-performance Pusher-compatible WebSocket client for Flutter
version: 0.1.0
homepage: https://github.com/sockudo/sockudo-client-rs
repository: https://github.com/sockudo/sockudo-client-rs

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_rust_bridge: ^2.0.0
  ffi: ^2.1.0
  freezed_annotation: ^2.4.1
  meta: ^1.11.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  ffigen: ^11.0.0
  build_runner: ^2.4.8
  freezed: ^2.4.7

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true
